a {
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
}

p:not(.MuiTypography-root) {
  font-size: 18px;
  text-align: center;
  color: white;
}

button {
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin-left: 15px;
}

input {
  color: black;
  border-color: rgb(196, 195, 195);
  height: 30px;
  border-radius: 15px;
}

img {
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: center;
}

.otherButtons {
  text-align: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
}

.screenshot {
  width: 50px;
  margin-top: 10px;
}

.screen {
  background-image: url("./icons/background.png");
  height: 860px;
  max-width: 420px;
  margin-top: -10px;
}

.row {
  color: white;
  margin-top: 10px;
}

.col-4 {
  text-align: right;
}

li:not(.MuiListItem-root) {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-top: -20px;
  margin-bottom: 20px;
}

ui {
  color: white;
}

.or {
  color:white;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}
