a {
  font-size: 25px;
  text-align: center;
  color: white;
  padding-top: -40px;
  padding-bottom: 10px;
}

p:not(.MuiTypography-root) {
  font-size: 18px;
  text-align: center;
  color: black;
}

button {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  color: white;
}

.input {
  color: white;
  border-color: white;
  border-radius: 20px;
  width: 200px;
  justify-content: center;
}

img {
  margin-bottom: 5px;
  margin-top: 10px;
}

.otherButtons {
  text-align: center;
  color: white;
  padding-top: 25px;
}

.screenshot {
  width: 50px;
  margin-top: 20px;
  font-size: 40px;
}
/* 
.screen {
  background-image: url("./icons/background.png");
  height: 860px;
  max-width: 420px;
  margin-top: -10px;
} */

.row {
  color: white;
  justify-content: center;
}

li:not(.MuiListItem-root) {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.icon {
  height: 47px;
  width: 50px;
  margin-bottom: 10px;
}

.icon2 {
  height: 47px;
  width: 50px;
  margin-bottom: 5px;
  margin-top: -45px;
}

.row-2 {
  margin-top: 20px;
  text-align: center;
  margin-bottom: -15px;
}

.Accordion {
  width: 270px;
  margin-bottom: 25px;
}

.FirstListItem {
  margin-bottom: -35px;
  font-size: 13px;
  margin-top: -40px;
}

.ListItem {
  margin-bottom: -30px;
  font-size: 13px;
}

.goBack{
  font-size: 25px;
  margin-left: 10px;
  font-weight: 400;
}

.col-2 {
  font-size: 27px;
  margin-right: -60px;
}

.col-5 {
  padding-top: 5px;
}