/* .screen {
  height: 1000px;
  max-width: 350px;
  background-size: cover;
  background-repeat: no-repeat;
} */

.row.top-row {
  /* padding-top: 70px; */
  margin-top: 50px;
  padding-bottom: 30px;
}

Button:not(.MuiButtonBase-root) {
  background-color: transparent !important;
  border-color: transparent !important;
}

.outfit-b {
  height: 35%;
  padding-left: 5px;
}

.col.empty {
  padding-top: 120px;
}

.col.not-empty {
  padding-top: 30px;
}

.outfit-item {
  width: 50px;
  padding-left: 5px;
  padding-top: 5px;
}

.box {
  background-color: white;
  /* border: 1px solid #ccc; */
  border-radius: 26px;
  margin: 5px 10px;
  text-align: center;
  height: 30%;
  align-items: center;
  margin-bottom: 20px;
  overflow-y: scroll;
  overflow-x: scroll;
  word-wrap: break-word;
}

.clothing-b {
  height: 15%;
}

.clothing-display {
  display: flex;
  flex-wrap: wrap;
  max-height: 170px;
  overflow: auto;
  padding: -40px;
}

.clothing-item {
  width: 80px;
  height: auto;
  margin-left: 20px;
}

.searchBar {
  border-radius: 50px;
  justify-content: center;
  border-color: transparent;
  color: #d77a97 !important;
}

input::placeholder {
  color: #d77a97;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0px;
}

.weather-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-info p {
  width: 100px;
}

.corner-button {
  color: #d77a97 !important;
  position: absolute;
}

.redo {
  left: 40px;
}

.saved-outfits-b {
  color: #d77a97 !important;
  position: fixed;
  top: 24%;
  left: 3%;
  width: 89%;
  height: 54%;
  background-color: white;
  padding-top: 50px;
  z-index: 999;
}

.add-button {
  color: #d77a97 !important;
}

.alert-b {
  color: #d77a97 !important;
  position: fixed;
  top: 30%;
  left: 20%;
  width: 60%;
  height: 10%;
  background-color: white;
  z-index: 999;
  padding-top: 30px;
}

.help-img {
  width: 70%;
  height: auto;
}

.help-b {
  color: #d77a97 !important;
  position: fixed;
  top: 8%;
  left: 3%;
  width: 89%;
  height: 80%;
  background-color: white;
  padding-top: 50px;
  z-index: 9999;
}